/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,300;0,500;1,300;1,500&display=swap');

/* Global Variables */

 :root {
	--main-column-width: 50rem;
	--h1-size: 4rem;
	--h2-size: 3rem;
  --h3-size: 2rem;
	--p-size: 1.3rem;
	--h1-size-small: 2rem;
	--text-section-padding: 2rem;
	--text-padding: 2rem;
	--right-padding: 1rem;
	--default-line-height: 2rem;
	--sidebar-width: 300px;
	--grid-column-remainder: calc(100vw - var(--main-column-width) - var(--sidebar-width));
	--code-figure-offset: calc(var(--grid-column-remainder)/2);
	--highlight-colour: #2196F3;
	--text-colour: #616161;
	--heading-colour: #212121;
	--text-margin: 5rem;
}

/* Global Styles */

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	display: grid;
	grid-template-columns: 1fr var(--sidebar-width);
	grid-template-rows: auto 100px;
}

body.index-page {
	margin: 0 auto;
	max-width: var(--main-column-width);
	grid-template-columns: 1fr;
}

main {
	max-width: var(--main-column-width);
	margin: 0 auto;
}

/* Navigation Styles */

nav {
	position: fixed;
	margin-top: 2rem;
	width: var(--sidebar-width);
}

nav .nav-link {
	padding-bottom: 1rem;
}

nav ol {
  list-style: none;
}

nav ol li {
	padding-top: 10px;
}

nav ol ol {
	padding-left: 25px;
}

nav ol li .nav-link.is-active {
	font-weight: bold;
}

footer {
	display: grid;
	grid-column: 1 / 4;
	padding: 2rem 0;
  place-content: center;
}

/* Typography Styles */

h1,
h2,
h3 {
	padding-top: var(--text-margin);
	font-weight: 300;
	color: var(--heading-colour);
}

h1 {
  font-size: var(--h1-size)
}

h2 {
  font-size: var(--h2-size)
}

h3 {
  font-size: var(--h3-size)
}

.main-title {
	padding-top: 0;
}

strong,
li {
	color: var(--heading-colour);
}

p,
td {
	color: var(--text-colour);
}

p {
	padding-top: var(--text-padding);
	font-size: var(--p-size);
	line-height: var(--default-line-height)
}

ul {
	list-style: inside circle;
}

ol {
	list-style: inside deciaml;
}

li {
	line-height: 1.5;
	font-size: var(--p-size);
}

a {
	color: var(--highlight-colour);
}

/* Table Styles */

table {
	margin-bottom: var(--text-section-padding);
}

tr {
	text-align: left;
}

th,
td {
	padding-top: var(--text-padding);
	font-size: var(--p-size);
}

th {
	min-width: 10rem
}

/* Quote Styles */

blockquote {
	font-size: 1.75rem;
	font-style: italic;
	padding: 3rem 0 0;
	padding-right: 6rem
}

/* Figure Styles */

figure {
	padding-top: var(--text-section-padding);
	z-index: 2;
}

figure {
	margin-bottom: var(--text-padding)
}

.figure-wrapper {
	position: relative;
	height: 0;
	padding-bottom: 56.25%;
	/* 16:9 */
	/* falls back to 16/9, but otherwise uses ratio from HTML */
	padding-bottom: calc(var(--aspect-ratio, .5625) * 100%);
}
/* code for figure-wrapper sourced from: https://css-tricks.com/fluid-width-video/ */

.figure-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.code-figure {
	position: relative;
	width: calc(90vw - var(--sidebar-width));
	left: calc(var(--code-figure-offset) * -1);
	margin: 0 5vw;
}



@media screen and (max-width: 1200px) {
	body {
		grid-template-columns: 1fr 0px;
	}
	main {
		padding: 0 1rem;
	}
	.code-figure {
		position: static;
		width: 100%;
		margin: 0;
	}