.info {
    display: flex;
    align-items: center;
    
    .img {
        width: 60px;
        height: 60px;
        background: red;
        margin-right: 10px;
    }
    
    .first.img {
        background: url() center center;
        background-size: cover;
    }
    
    .second.img {
        background: url() center center;
        background-size: cover;
    }
    
    .third.img {
        background: url() center center;
        background-size: cover;
    }
    
    .fourth.img {
        background: url() center center;
        background-size: cover;
    }