// Need to Edit!!!!!!//
#container{
    border:1px solid rgb(181, 227, 243);
    border-radius :25px;
    width:400px;
    margin:20px auto;
    padding:25px;
    text-align:absolute;
    background : rgb(181, 227, 243);
  }
  
  #timer{ 
    color:rgb(125, 220, 172); 
    font-size:50px; 
    margin:12px auto;
    border : 10px solid rgb(125, 220, 172); 
    border-radius:50%;
    width:200px;
    height:200px;
    overflow:hidden;
    position:relative;
    user-select: none;
    cursor:default;
  }
  
  #time{
    margin-top:70px;
    z-index : 1;
    position:relative;
  }
  
  #filler{
    background : #ddffcc;
    height: 1px;
    width: 200px;
    position:absolute;
    bottom:0;
  }
  
  #buttons button { 
    background:#ffffff; 
    border:none; 
    color:rgb(181, 227, 243); 
    cursor:pointer; 
    padding:10px; 
    width:100px; 
    margin:15px auto;
    font-size:18px;
    height : 50px;
    border-radius : 50px;
  }
  
  #buttons button#quickBreak{
    background : rgb(253, 253, 253);
    border: none;
    color:rgb(181, 227, 243); 
  }
  
  #buttons button#longBreak{
    background : rgb(253, 253, 253);
    border: none;
    color:rgb(181, 227, 243); 
  }
  
  #buttons button#reset{
    background : rgb(253, 253, 253);
    border: none;
    color:rgb(181, 227, 243); 
  }
  